*{
    background-color: beige;

}
.page{
    border : 6px solid #3388cc;
    margin: auto;
    border-radius : 30px;
    padding: 40px;
    width: 750px;
    font-family : 'Source sans pro', tahoma, sans-serif;
}

img{
    border-radius: 8px;
    border: 3px solid;
    padding: 3px;
    

}

.photo{
    float: right;
    width: 20%;
    padding-top: 5% ;
}

body{
    background-color: #ffffff;
}
.smiya{
   
   
    font-weight: bold;
    padding:1% ;
   
}
.smiya:hover{
    color: rgb(190, 16, 16)
}


.info{
    font-size: 100% ;
    font-weight: bold;
    padding-left: 1% ;
}


strong:hover{
    color: rgb(190, 16, 16);
}

h2{
    padding: 1%;
    border-bottom: 5px solid #3388cc ;
    color:blueviolet;

}


.sec-droite{
    font-size: 100% ;
    font-weight: bold;
    float:right ;
    padding: 3%; 
    
}
.sec-droite :hover{
    color: rgb(190, 16, 16);
}



.sec-gauche{
    font-size: 100% ;
    font-weight: bold;
    padding: 3%;
}

.sec-gauche :hover{
    color: rgb(190, 16, 16);
}

.section:hover{
    color: #f3a909;
}

#form-droite{
  
}

font-size: 10px;
text-transform: uppercase;
padding-left: 0,1%;
padding: 10px;